create table public.media_assets ( id uuid default gen_random_uuid() primary key, workspace_id text not null, uploaded_by text, url text not null, file_name text, mime_type text, tags text[], created_at timestamp with time zone default timezone('utc'::text, now()) not null );
